<div class="col-md-12">
    <div class="col-md-8">
        <div class="form-group">
            <label class="control-label col-md-4">{{i18n('key.length')}}
                <span class="required" aria-required="true">* </span>
            </label>

            <div class="col-sm-6">
                <select class="form-control" id="length" name="length" required>
                    <option value="">{{i18n('common.pleaseSelect')}}</option>
                    <option value="1024">1024</option>
                    <option value="2048" selected>2048</option>
                    <option value="3072">3072</option>
                    <option value="4096">4096</option>
                </select>
            </div>
        </div>
    </div>
</div>