<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <th:block th:include="includes/header :: styles"/>
</head>
<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
<th:block th:include="includes/top :: top"/>

<!-- END HEADER & CONTENT DIVIDER -->
<div class="page-container">
    <th:block th:include="includes/menu :: menus"/>
    <div class="page-content-wrapper">
        <div class="page-content">
            <th:block th:include="includes/slider :: slider"/>
            <div class="modal-dialog modal-lg">
                <div class="modal-header">
                    <h4 class="modal-title font-green bold" id="modalTitle"><span th:text="#{config.log.config}"></span>
                    </h4>
                </div>
                <div class="modal-body form">
                    <form class="form-horizontal" id="dialogForm">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-12">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <label class="control-label col-md-4"><span
                                                    th:text="#{config.log.retention}"></span>
                                                <span class="required" aria-required="true">* </span>
                                            </label>


                                            <div class="col-md-6">
                                                <input type="text" class="form-control" id="retretion"
                                                       name="username" th:placeholder="#{config.log.input}"
                                                       required
                                                       value=""/>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>



                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <label class="control-label col-md-4"><span
                                                    th:text="#{config.log.level}"></span>
                                                <span class="required" aria-required="true">* </span>
                                            </label>
                                              <div class="col-md-6">
                                                   <select class="form-control" id="level">
                                                       <option value="INFO">INFO</option>
                                                       <option value="DEBUG">DEBUG</option>
                                                       <option value="ERROR">ERROR</option>

                                                   </select>
                                               </div>



                                        </div>
                                    </div>

                                </div>
                            </div>


                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline blue" id="save"><span
                            th:text="#{common.save}"></span></button>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-modal-lg" id="modalDialog" tabindex="-1" data-keyboard="false" aria-hidden="true"
     data-backdrop="static">
</div>
<th:block th:include="includes/footer :: footer"/>
<th:block th:include="includes/scripts :: scripts"/>
<script th:src="@{/pages/scripts/config/logconfig.js}" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        logConfig.init();
    })
</script>
</body>
</html>