<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <th:block th:include="includes/header :: styles"/>
</head>
<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
<th:block th:include="includes/top :: top"/>

<!-- END HEADER & CONTENT DIVIDER -->
<div class="page-container">
    <th:block th:include="includes/menu :: menus"/>
    <div class="page-content-wrapper">
        <div class="page-content">
            <th:block th:include="includes/slider :: slider"/>
            <div class="modal-dialog modal-lg">
                <div class="modal-header">
                    <h4 class="modal-title font-green bold" id="modalTitle"><span th:text="#{mail.config}"></span>
                    </h4>
                </div>
                <div class="modal-body form">
                    <form class="form-horizontal" id="dialogForm">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <label class="control-label col-md-4"><spanr
                                                    th:text="#{mail.server.addr}"></spanr>
                                                <span class="required" aria-required="true">* </span>
                                            </label>

                                            <div class="col-sm-6">
                                                <input type="text" class="form-control"
                                                       id="addr" name="addr" required
                                                       maxlength="16" th:placeholder="#{mail.input.addr }"
                                                       value=""/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <label class="control-label col-md-4"><span
                                                    th:text="#{mail.server.port}"></span>
                                                <span class="required" aria-required="true">* </span>
                                            </label>


                                            <div class="col-md-6">
                                                <input type="text" class="form-control" id="port"
                                                       name="port" th:placeholder="#{mail.input.port }"
                                                       required
                                                       value=""/>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <label class="control-label col-md-4"><span
                                                    th:text="#{mail.timeOut}"></span>
                                                <span class="required" aria-required="true">* </span>
                                            </label>


                                            <div class="col-md-6">
                                                <input type="text" class="form-control" id="timeOut"
                                                       name="timeOut" th:placeholder="#{mail.input.timeout }" required
                                                       value=""/>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <label class="control-label col-md-4"><span
                                                    th:text="#{mail.send}"></span>
                                                <span class="required" aria-required="true">* </span>
                                            </label>
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" id="sendMailbox"
                                                       name="sendMailbox" th:placeholder="#{mail.input.send}" required
                                                       value=""/>
                                            </div>


                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <label class="control-label col-md-4"><span
                                                    th:text="#{mail.password}"></span>
                                                <span class="required" aria-required="true">* </span>
                                            </label>


                                            <div class="col-md-6">
                                                <input type="password" class="form-control" id="password"
                                                       name="password" th:placeholder="#{mail.input.password}" required
                                                       value=""/>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <label class="control-label col-md-4"><span
                                                    th:text="#{mail.recive}"></span>
                                                <span class="required" aria-required="true">* </span>
                                            </label>


                                            <div class="col-md-6">
                                                <input type="text" class="form-control" id="receivingMailbox"
                                                       name="receivingMailbox" th:placeholder="#{mail.input.recive}"
                                                       required
                                                       value=""/>
                                            </div>
                                            <div class="">
                                                <button type="button" class="btn btn-outline blue" id="test"><span
                                                        th:text="#{common.test}"></span></button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline blue" id="save"><span
                            th:text="#{common.save}"></span></button>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-modal-lg" id="modalDialog" tabindex="-1" data-keyboard="false" aria-hidden="true"
     data-backdrop="static">
</div>
<th:block th:include="includes/footer :: footer"/>
<th:block th:include="includes/scripts :: scripts"/>
<script th:src="@{/pages/scripts/config/mailConfig.js}" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        mailConfig.init();

    })
</script>
</body>
</html>