{{each composes as compose index}}
<div class="row">
    <div class="col-md-6">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label col-md-4">{{i18n('key.componse') + (index + 1)}}
                    <span class="required" aria-required="true">* </span>
                </label>
                <div class="col-md-8">
                    <input type="password" class="form-control input-medium compose" id="compose{{(index + 1)}}"
                           name="compose{{(index + 1)}}"
                           placeholder="{{i18n('key.componse') + (index + 1)}}" required
                           value=""/>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label col-md-4">{{i18n('key.confirmCompose') + (index + 1)}}
                    <span class="required" aria-required="true">* </span>
                </label>
                <div class="col-md-8">
                    <input type="password" class="form-control input-medium compose" id="confirmCompose{{(index + 1)}}"
                           name="confirmCompose{{(index + 1)}}"
                           placeholder="{{i18n('key.confirmCompose') + (index + 1)}}" required
                           value=""/>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}