/* here you can put your own css to customize and override the theme */

.page-content .row {
    padding-top: 10px;
}

.page-footer .center{
	text-align:center;
}

.custom_a{
	float: left;
	padding-top: 9px;
	padding-bottom: 9px;
	font-size: 20px;
	padding-left: 15px;
	padding-right: 15px;
	color: dimgray;
}
