<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CA证书</title>
    <th:block th:include="includes/header :: styles"/>
    <link th:href="@{/plugins/select2/css/select2.min.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/plugins/select2/css/select2-bootstrap.min.css}" type="text/css" rel="stylesheet"/>
    <style type="text/css">
        .select2-container--open{
            z-index:9999999
        }
    </style>
</head>
<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
<th:block th:include="includes/top :: top" />
<!-- END HEADER & CONTENT DIVIDER -->
<div class="page-container">
    <div class="page-sidebar-wrapper">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar navbar-collapse collapse">
            <!-- BEGIN SIDEBAR MENU -->
            <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
                <li class="sidebar-toggler-wrapper hide">
                    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                    <div class="sidebar-toggler"> </div>
                    <!-- END SIDEBAR TOGGLER BUTTON -->
                </li>
                <li class="nav-item start active open">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-home"></i>
                        <span class="title">证书管理</span>
                        <span class="selected"></span>
                        <span class="arrow open"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item start active open">
                            <a th:href="@{/cacert/calist}" class="nav-link ">
                                <i class="icon-bar-chart"></i>
                                <span class="title">CA管理</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/certsign/certIussuer}" class="nav-link ">
                                <i class="icon-bar-chart"></i>
                                <span class="title">证书签发</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- END SIDEBAR MENU -->
            <!-- END SIDEBAR MENU -->
        </div>
        <!-- END SIDEBAR -->
    </div>
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <a th:href="@{/}">主页</a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        CA管理
                    </li>
                </ul>
            </div>
            <h3 class="page-title"> CA管理
                <small>查看生成下载CA证书</small>
            </h3>
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption font-dark">
                                <i class="icon-settings font-dark"></i>
                                <span class="caption-subject bold uppercase">CA证书</span>
                            </div>
                            <a class="btn btn-circle btn-success pull-right" href="javascript:void(0);" id="addCA">产生CA证书</a>
                            <div class="tools">
                            </div>
                        </div>
                        <div class="portlet-body">
                            <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="sample_1">
                                <thead>
                                <tr>
                                    <td>序列号</td>
                                    <td>主题</td>
                                    <td>生效日期</td>
                                    <td>失效日期</td>
                                    <td>操作</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${!hasCA}">
                                    <td colspan="5" align="center">暂无数据</td>
                                </tr>
                                <tr th:if="${hasCA}" th:each="cert, stat : ${caList}">
                                    <td th:text="${cert.certSN}">序列号</td>
                                    <td th:text="${cert.subject}">主题</td>
                                    <td th:text="${cert.before}">生效日期</td>
                                    <td th:text="${cert.after}">失效日期</td>
                                    <td ><a th:href="@{/cacert/down}" target="_blank" class="btn btn-sm btn-default">下载</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalDialog" role="basic" aria-hidden="true" data-keyboard="false"
data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ></button>
                <h4 class="modal-title">Start Dragging Here</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="dialogForm">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">主题
                                <span class="required" aria-required="true">* </span>
                            </label>

                            <div class="col-md-8">
                                <input type="text" class="form-control input-medium" id="subject"
                                       name="subject" placeholder="请输入主题"
                                       value=""/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">算法
                                <span class="required" aria-required="true">* </span>
                            </label>

                            <div class="col-md-8">
                                <select class="select2 form-control" id="alg">
                                    <option value="RSA">RSA</option>
                                </select>

                            </div>
                        </div>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">签名算法
                                    <span class="required" aria-required="true">* </span>
                                </label>

                                <div class="col-md-8">
                                    <select class="select2 form-control" id="signAlg">
                                        <option value="SHA224WITHRSA">SHA224WITHRSA</option>
                                        <option value="SHA256WITHRSA">SHA256WITHRSA</option>
                                        <option value="SHA384WITHRSA">SHA384WITHRSA</option>
                                    </select>

                                </div>
                            </div>
                        </div>
                    </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">长度
                                <span class="required" aria-required="true">* </span>
                            </label>

                            <div class="col-md-8">
                                <select class="select2 form-control" id="algLength">
                                    <option value="2048">2048</option>
                                    <option value="4096">4096</option>
                                </select>

                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">关闭</button>
                <button type="button" class="btn green" id="generate">生成</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<th:block th:include="includes/footer :: footer"/>
<th:block th:include="includes/scripts :: scripts" />
<script type="text/javascript" th:src="@{/plugins/jquery-validation/js/jquery.validate.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/jquery-validation/js/additional-methods.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/select2/js/select2.full.min.js}"></script>
<script type="text/javascript" th:src="@{/pages/scripts/caCert.js}"></script>
<script type="text/javascript">
    $(function () {
        caCert.init();
    })
</script>
</body>
</html>