<div class="modal-dialog modal-lg">
    <div class="modal-content" id="modalContent">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title font-green bold" id="modalTitle">{{i18n('org.editOrg')}}</h4>
        </div>
        <div class="modal-body form">
            <form class="form-horizontal" id="dialogForm">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label class="control-label col-md-4">{{i18n('org.orgName')}}
                                        <span class="required" aria-required="true">* </span>
                                    </label>


                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="orgName"
                                               name="orgName" placeholder="{{i18n('org.inputOrgName')}}" required
                                               value="{{reqData.orgName}}"/>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label class="control-label col-md-4">{{i18n('org.orgCode')}}
                                        <span class="required" aria-required="true">* </span>
                                    </label>

                                    <div class="col-sm-6">
                                        <input type="text" class="form-control"
                                               id="orgCode" name="orgCode" required
                                               maxlength="16" placeholder="{{i18n('org.inputOrgCode')}}"
                                               value="{{reqData.orgCode}}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label class="control-label col-md-4">{{i18n('template.keyExtendUsgaes')}}
                                    </label>


                                    <div class="col-sm-6">
                                        <textarea class="form-control" rows="4" id="properties">{{reqData.properties}}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <input  id ='orgId' hidden="hidden" text="{{reqData.orgId}}">
        <div class="modal-footer">
            <button type="button" class="btn btn-outline blue" id="editBtn">{{i18n('common.save')}}</button>
            <button type="button" class="btn btn-outline grey-gallery" data-dismiss="modal">{{i18n('common.cancelBtn')}}</button>
        </div>
    </div>
</div>