<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <th:block th:include="includes/header :: styles"/>
    <link type="text/css" rel="stylesheet" th:href="@{/plugins/bootstrap-daterangepicker/daterangepicker.min.css}">
</head>
<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
<th:block th:include="includes/top :: top"/>

<!-- END HEADER & CONTENT DIVIDER -->
<div class="page-container">
    <th:block th:include="includes/menu :: menus"/>
    <div class="page-content-wrapper">
        <div class="page-content">
            <th:block th:include="includes/slider :: slider"/>
            <div class="modal-dialog modal-lg">
                <div class="modal-header">
                    <h4 class="modal-title font-green bold" id="modalTitle"><span th:text="${menu.menuName}"></span>
                    </h4>
                </div>
                <div class="modal-body form">
                    <form class="form-horizontal" id="dialogForm">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <label class="control-label col-md-4"><span
                                                    th:text="#{mail.config.type}"></span>
                                                <span class="required" aria-required="true">* </span>
                                            </label>

                                            <div class="col-sm-6">
                                                <select class="form-control" id="type">
                                                    <option value="" th:text="#{common.pleaseSelect}"></option>
                                                    <option value="addUser" th:text="#{log.addUser}"></option>
                                                    <option value="updateUser" th:text="#{log.updateUser}"></option>
                                                    <option value="deleteUser" th:text="#{log.deleteUser}"></option>
                                                    <option value="addOrg" th:text="#{log.addOrg}"></option>
                                                    <option value="updateOrg" th:text="#{log.updateOrg}"></option>
                                                    <option value="deleteOrg" th:text="#{log.deleteOrg}"></option>
                                                    <option value="exportOrg" th:text="#{log.exportOrg}"></option>
                                                    <option value="addTemplate" th:text="#{log.addTemplate}"></option>
                                                    <option value="updateTemplate" th:text="#{log.updateTemplate}"></option>
                                                    <option value="deleteTemplate" th:text="#{log.deleteTemplate}"></option>
                                                    <option value="addKey" th:text="#{log.addKey}"></option>
                                                    <option value="updateKey" th:text="#{log.updateKey}"></option>
                                                    <option value="archiveKey" th:text="#{log.archiveKey}"></option>
                                                    <option value="enableKey" th:text="#{log.enableKey}"></option>
                                                    <option value="disableKey" th:text="#{log.disableKey}"></option>
                                                    <option value="deleteKey" th:text="#{log.deleteKey}"></option>
                                                    <option value="importKey" th:text="#{log.importKey}"></option>
                                                    <option value="addCollection" th:text="#{log.addCollection}"></option>
                                                    <option value="updateCollection" th:text="#{log.updateCollection}"></option>
                                                    <option value="deleteCollection" th:text="#{log.deleteCollection}"></option>
                                                    <option value="addDevice" th:text="#{log.addDevice}"></option>
                                                    <option value="updateDevice" th:text="#{log.updateDevice}"></option>
                                                    <option value="deleteDevice" th:text="#{log.deleteDevice}"></option>
                                                    <option value="jdbcConfig" th:text="#{log.jdbcConfig}"></option>
                                                    <option value="logConfig" th:text="#{log.logConfig}"></option>
                                                    <option value="uiConfig" th:text="#{log.uiConfig}"></option>
                                                    <option value="mailConfig" th:text="#{log.mailConfig}"></option>
                                                    <option value="addTask" th:text="#{log.addTask}"></option>
                                                    <option value="updateTask" th:text="#{log.updateTask}"></option>
                                                    <option value="deleteTask" th:text="#{log.deleteTask}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <label class="control-label col-md-4"><span
                                                    th:text="#{mail.config.result}"></span>
                                                <span class="required" aria-required="true">* </span>
                                            </label>

                                            <div class="col-md-6">
                                                <select class="form-control" id="result">
                                                    <option value="" th:text="#{common.pleaseSelect}"></option>
                                                    <option value="1" th:text="#{operator.status1}"></option>
                                                    <option value="2" th:text="#{operator.status2}"></option>

                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <label class="control-label col-md-4"><span
                                                    th:text="#{archiving.strategy}"></span>
                                                <span class="required" aria-required="true">* </span>
                                            </label>


                                            <div class="col-md-6">
                                                <select class="form-control" id="strategy">
                                                    <option value="" th:text="#{common.pleaseSelect}"></option>
                                                    <option value="day"  th:text="#{system.bydays}"></option>
                                                    <option value="time"  th:text="#{system.bytime}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12" id="timeArchive" style="display: none">
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">
                                                <span th:text="#{common.selectTime}"></span>
                                                <span class="required" aria-required="true">* </span>
                                            </label>
                                            <div class="col-md-6">
                                                <div id="reportrange" class="btn default">
                                                    <i class="fa fa-calendar"></i> &nbsp;
                                                    <span> </span>
                                                    <b class="fa fa-angle-down"></b>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="dayArchive" style="display: none">
                                <div class="col-md-12">
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <label class="control-label col-md-4"><span
                                                    th:text="#{archiving.save.days}"></span>
                                                <span class="required" aria-required="true">* </span>
                                            </label>
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" id="maxActive"
                                                       name="maxActive" th:placeholder="#{archiving.save.days}"
                                                       required
                                                       value=""/>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline blue" id="archiving"><span
                            th:text="#{archiving.archiving}"></span></button>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-modal-lg" id="modalDialog" tabindex="-1" data-keyboard="false" aria-hidden="true"
     data-backdrop="static">
</div>
<th:block th:include="includes/footer :: footer"/>
<th:block th:include="includes/scripts :: scripts"/>


<script type="text/javascript" th:src="@{/plugins/bootstrap-daterangepicker/moment.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/bootstrap-daterangepicker/daterangepicker.min.js}"></script>

<script th:src="@{/pages/scripts/log/archiving.js}" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {

        archiving.init();
    })
</script>
</body>
</html>