<div class="modal fade" id="{{confirmDialogId}}" tabindex="-1" data-keyboard="false" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">{{confirmTitle}}</h4>
            </div>
            <div class="modal-body form">
                <form id="confirmDivForm" class="form-horizontal">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        {{confirmContent}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn blue" id="{{confirmBtnId}}">{{confirmBtn}}</button>
                <button type="button" class="btn default" data-dismiss="modal">{{cancelBtn}}</button>
            </div>
        </div>
    </div>
</div>