<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="styles">
    <link rel="stylesheet" th:href="@{/plugins/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-toastr/toastr.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/datatables/datatables.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css}">
    <link rel="stylesheet" th:href="@{/global/css/components.min.css}">
    <link rel="stylesheet" th:href="@{/global/css/plugins.css}">
    <link rel="stylesheet" th:href="@{/layouts/css/layout.min.css}">
    <link rel="stylesheet" th:href="@{/layouts/css/themes/darkblue.min.css}">
    <link rel="stylesheet" th:href="@{/layouts/css/custom.min.css}">
    <script th:inline="javascript">
        var LANG_COUNTRY = [[${#locale.language+'_'+#locale.country}]];
    </script>
</th:block>