<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="menus">
    <input type="hidden" id="menuId" th:if="${menu != null}" th:value="${menu.menuId}">
    <div class="page-sidebar-wrapper">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar navbar-collapse collapse">
            <!-- BEGIN SIDEBAR MENU -->
            <ul class="page-sidebar-menu  page-header-fixed " data-auto-scroll="true" data-keep-expanded="false"
                data-slide-speed="200" style="padding-top: 20px">
            </ul>
        </div>
    </div>
    <!-- END SIDEBAR -->

</th:block>