<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="slider">
    <div class="page-bar">
        <ul th:if="${menu == null}"class="page-breadcrumb">
            <li >
                <a th:href="@{/}">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Dashboard</span>
            </li>
        </ul>
        <ul th:if="${menu != null}"class="page-breadcrumb">
            <li >
                <a th:href="@{/}">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li >
                <a href="#" th:text="${menu.menuName}"></a>

            </li>
        </ul>
    </div>
    <!-- END PAGE BAR -->
</th:block>