<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="slider">
    <div class="page-bar">
        <ul th:if="${menu == null}"class="page-breadcrumb">
            <li >
                <a th:href="@{/}">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Dashboard</span>
            </li>
        </ul>
        <ul th:if="${menu != null}"class="page-breadcrumb">
            <li >
                <a th:href="@{/}" th:text="${menu.menuName}"></a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Dashboard</span>
            </li>
        </ul>
    </div>
    <h3 th:if="${menu != null}" class="page-title" th:text="${menu.menuName}"></h3>
    <!-- END PAGE BAR -->
</th:block>