<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="top">
    <div class="page-header navbar navbar-fixed-top">
        <div class="page-header-inner ">
        	<div class="nav navbar-nav">
	            <div class="page-logo">
	               <a th:href="@{/}"><img width="100%" height="46px" src="../pages/img/logo.png" alt="logo"/> </a>
	            </div>
	            <div class="menu-toggler sidebar-toggler"> </div>
            </div>
            <div class="custom_a" th:text="#{login.systemName}"></div>
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown dropdown-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <img alt="" class="img-circle" src="../layouts/img/avatar.png" />
                            <span class="username username-hide-on-mobile" th:text="${session.user.username}"> </span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a th:href="@{/logout}">
                                    <i class="icon-key"></i> <span th:text="#{login.loginOut}"></span> </a>
                            </li>
                        </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END HEADER INNER -->
    </div>
    <!-- END HEADER -->
    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"> </div>
</th:block>